.copyContainer{
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}