<p [style.background-color]="getSecondColor()" [style.color]="getAccentColor()">
  about works!
</p>
<div>
  <h1 [style.color]=" getSecondaryColor()">AAAAA</h1>
  <p>sdlomgsdgm</p>
  <h5>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem vitae
    accusamus mollitia eum sed ut,
    <span [style.background-color]=" getPrimaryColor()">
      perferendis consequatur molestias quos a ipsa unde rem assumenda
      architecto voluptates quasi.
    </span>
    Voluptate, recusandae soluta.
  </h5>
</div>
